# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/pail
/storage/logs/*.log
/storage/framework/*
/storage/telescope
/bootstrap/cache/*.php
.env
.env.*
.phpunit.result.cache
/.phpunit.cache

# IDEs & Editor configs
/.vscode
/.idea
/.fleet
/.nova
/.zed
.phpactor.json

# System
.DS_Store
Thumbs.db

# Composer/NPM/Yarn lock files (optional)
/composer.lock
/package-lock.json
/npm-debug.log
/yarn-error.log
/pnpm-lock.yaml

# Vite / Laravel Mix
/public/build
/public/hot

# Laravel Homestead
Homestead.json
Homestead.yaml

# Others
auth.json
